@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #505861;
}
.top-group {
  h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 7.6rem;
    border-radius: 4px;
    background: #222;
    text-align: center;
    color: white;
  }
}
.box-group {
  div {
    width: 120px;
    padding: 8px;
    margin-top: 6px;
    text-align: center;
    border: inset thin black;
    background: #fff;
  }
}
.long-box {
  h2 {
    min-width: 400px;
  }
  div {
    min-width: 400px;
  }
}
